<% @poems.each do |poem| %>
  <%= poem.title %>
  <%= poem.content %>
<% end %>

<div class="container">
 <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
   <%= link_to"詳細",poem_path(poem.id), class: 'btn btn-default btn-sm btn-success' %>
 </div>
</div>
